# App configuration
APP_NAME="A-Movie"
APP_TZ=Asia/Tehran

# App key is use in encryption & decryption helpers
# You can find helpers in /pkg/helper/crypto.go file
APP_KEY=dAwyOaomnZEdaZqQzO*1roNlX*aRf1Rb

# Server configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=5000
