<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A-Movie</title>
    <script type="module" crossorigin src="/assets/index-BU7HqICL.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/vendor-BeDkfR2J.js">
    <link rel="stylesheet" crossorigin href="/assets/vendor-DJIbK2Oo.css">
    <link rel="stylesheet" crossorigin href="/assets/index-D5bN4Vxo.css">
  </head>
  <body>
    <div id="a-movie-app"></div>
  </body>
</html>
